.container{
    overflow-x: auto;
    width: 100%;
}

.table,
.table tr {
  border: 1px solid #ccc;
}

.table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  width: 100%;
  color: rgb(59, 59, 59);
  margin-top: 15px;
}

.caption {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bolder;
    color: black;
    background-color: #f2f2f2;
    text-align: center;
    padding: 5px;
  }

.th,
.td {
  height: 50px;
  text-align: left;
  padding: 10px;
}
.th {
  cursor: pointer;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}
